---
import SlideLayout from '../layouts/SlideLayout.astro';
import FigmaSlideCell from '../components/figmaSlideCell.astro';

// Grab every image inside the slides folder eagerly
const allImages = import.meta.glob(
  '/src/assets/slides/**/*.{png,webp,jpg,jpeg}',
  { eager: true },
);

// Helper function to find a specific asset by slide folder and filename
/**
 * Import Slide Assets from folder using Slide Directory & Filename.ext
 */
const getAsset = (slideDir: string, fileName: string) => {
  const path = `/src/assets/slides/${slideDir}/${fileName}`;
  const module: any = allImages[path];
  if (!module) throw new Error(`Asset not found: ${path}`);
  return module.default; // This returns the full Astro Image Metadata object
};
---

<SlideLayout>
  <!-- Welcome Slide -->
  <section
    data-background-opacity='0'
    data-background-image={getAsset('slide-00', 'bg_2x.webp').src}
  >
    <h1>Welcome!</h1>
  </section>

  <!-- Title Slide 00 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-00', 'bg_2x.webp').src}
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={true}
        gridClass='s12 m12'
        bgImg={getAsset('slide-00', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-00', 'caption.webp'),
            x: 75,
            y: 477,
            width: 308,
            dataId: 'caption',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-00', 'subhead.webp'),
            x: 75,
            y: 563,
            width: 384,
            dataId: 'subhead',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-00', 'hero-obj-01.webp'),
            x: 567,
            y: 156,
            width: 630,
            dataId: 'hero',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- TOC Slide 01 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-01', 'bg_2x.webp').src}
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-01', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-01', 'title.webp'),
            x: 40,
            y: 879,
            width: 1213,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'image.webp'),
            x: 1019,
            y: 126,
            width: 793,
            dataId: 'image',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'slide-section-01.webp'),
            x: 83,
            y: 261,
            width: 900,
            dataId: 'section-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'slide-section-02.webp'),
            x: 83,
            y: 354,
            width: 900,
            dataId: 'section-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'slide-section-03.webp'),
            x: 83,
            y: 447,
            width: 900,
            dataId: 'section-03',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'slide-section-04.webp'),
            x: 83,
            y: 540,
            width: 900,
            dataId: 'section-04',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'slide-section-05.webp'),
            x: 83,
            y: 633,
            width: 900,
            dataId: 'section-05',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- Legacy Guide Slide 02 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-02', 'bg_2x.webp').src}
    data-notes="Start by grounding the project in history. The PDF version has proven its worth for decades. Mention that Department of Social Services staff already rely on this—we aren't inventing a need, we are modernizing a solution they already use.  We aren't building an app from scratch; we are liberating 50 years of institutional knowledge. This isn't a startup pivot—it's a digital renovation of a tool that social workers already trust with their lives."
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-02', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-02', 'title.webp'),
            x: 57,
            y: 61,
            width: 912,
            dataId: 'guide',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-02', 'slide-point-01.webp'),
            x: 1263,
            y: 459,
            width: 617,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-02', 'slide-point-02.webp'),
            x: 1263,
            y: 656,
            width: 617,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-02', 'retro-guide.webp'),
            x: 620,
            y: 286,
            width: 620,
            dataId: 'guide',
            animation: 'fade-right',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- HR1 Slide 03 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-03', 'bg_2x.webp').src}
    data-notes="This slide is the 'Burning Platform' of our pitch. We need to explain why a 1970s guide, while legendary, is no longer enough. Recent federal changes under H.R. 1—the 'One Big Beautiful Bill'—have intentionally added layers of red tape. We’re talking about stricter work requirements and 'verification hurdles' that are designed to make people give up. 
In the past, when a law changed, it might take a year for the PDF guide to be updated and printed. Today, that lag time means a family loses their food benefits. This app is our mitigation strategy. It’s a real-time 'GPS' through the bureaucracy."
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-03', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-03', 'title.webp'),
            x: 515,
            y: 138,
            width: 891,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'body.webp'),
            x: 142,
            y: 513,
            width: 528,
            dataId: 'body',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'caption.webp'),
            x: 727,
            y: 457,
            width: 206,
            dataId: 'caption',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'slide-point-01.webp'),
            x: 727,
            y: 513,
            width: 1000,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'slide-point-02.webp'),
            x: 727,
            y: 603,
            width: 1000,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'slide-point-03.webp'),
            x: 727,
            y: 693,
            width: 1000,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'slide-point-04.webp'),
            x: 727,
            y: 828,
            width: 1000,
            dataId: 'point-04',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- PDF Ceiling Slide 04 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-04', 'bg_2x.webp').src}
    data-notes="Highlight the 'Digital Ceiling.' A PDF is a dead-end on a smartphone. Mention that updating a PDF requires a full re-upload and print cycles, creating a lag between policy changes and the help people receive."
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-04', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-04', 'title.webp'),
            x: 154,
            y: 190,
            width: 595,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-04', 'caption.webp'),
            x: 154,
            y: 460,
            width: 159,
            dataId: 'caption',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-04', 'slide-point-01.webp'),
            x: 154,
            y: 512,
            width: 746,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-04', 'slide-point-02.webp'),
            x: 154,
            y: 646,
            width: 746,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-04', 'slide-point-03.webp'),
            x: 154,
            y: 781,
            width: 746,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- Access A Slide 05 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-05', 'bg_2x.webp').src}
    data-notes="This is the 'Pivot' slide. More than just making a website; we are freeing the data. We want to use the native power of mobile devices to simplify complex government processes."
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-05', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-05', 'title.webp'),
            x: 98,
            y: 190,
            width: 635,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-05', 'caption.webp'),
            x: 98,
            y: 460,
            width: 188,
            dataId: 'caption',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-05', 'slide-point-01.webp'),
            x: 99,
            y: 512,
            width: 634,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-05', 'slide-point-02.webp'),
            x: 99,
            y: 647,
            width: 634,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-05', 'slide-point-03.webp'),
            x: 99,
            y: 782,
            width: 634,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- Access B Slide 06 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-06', 'bg_2x.webp').src}
    data-notes='UI Example of a Staged EBT search for finding grocers accepting EBT'
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-06', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-06', 'ui-01of03-staged.webp'),
            x: 72,
            y: 0,
            width: 607,
            dataId: 'ui-01of03',
            animation: 'fade-right',
            autoplay: true,
            css: 'max-height: 100%',
          },
          {
            img: getAsset('slide-06', 'ui-02of03-staged.webp'),
            x: 350,
            y: 0,
            width: 941,
            dataId: 'ui-02of03',
            animation: 'fade-right',
            autoplay: true,
            css: 'max-height: 100%',
          },
          {
            img: getAsset('slide-06', 'ui-03of03-staged.webp'),
            x: 1131,
            y: 0,
            width: 768,
            dataId: 'ui-03of03',
            animation: 'fade-right',
            autoplay: true,
            css: 'max-height: 100%',
          },
        ]}
      />
    </div>
  </section>

  <!-- Language Slide 07 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-07', 'bg_2x.webp').src}
    data-notes="A huge 'unspoken' cost in the non-profit world is translation. In the past, if we wanted to translate the 50-page guide into Spanish or Vietnamese, it cost thousands of dollars and was obsolete the moment a single policy changed.

By moving to a digital-first framework, we can provide nearly instant, automated translations that are verified by professionals. 

Non-English speakers no longer have to wait weeks for a translated PDF. They get the same life-saving information as everyone else, the second it's updated."
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-07', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-07', 'title.webp'),
            x: 0,
            y: 124,
            width: 1213,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-07', 'slide-point-01.webp'),
            x: 123,
            y: 467,
            width: 1058,
            dataId: 'point-01',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-07', 'slide-point-02.webp'),
            x: 123,
            y: 602,
            width: 1058,
            dataId: 'point-02',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-07', 'slide-point-03.webp'),
            x: 123,
            y: 737,
            width: 1058,
            dataId: 'point-03',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-07', 'slide-point-04.webp'),
            x: 123,
            y: 872,
            width: 1058,
            dataId: 'point-04',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-07', 'ui-01-dropdown.webp'),
            x: 1363,
            y: 113,
            width: 448,
            dataId: 'ui-01-dropdown',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- Tiered Strategy Slide 08 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-08', 'bg_2x.webp').src}
    data-notes="Explain the 'Why' behind tiers: it allows for digestible scope, fits into non-profit funding cycles, and lets us use a lean initial team to iterate based on real user research."
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-08', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-08', 'title.webp'),
            x: 40,
            y: 60,
            width: 785,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-08', 'body.webp'),
            x: 883,
            y: 127,
            width: 936,
            dataId: 'body',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-08', 'bronze-tier.webp'),
            x: 0,
            y: 125,
            width: 1821,
            dataId: 'bronze-tier',
            animation: 'fade-up',
            autoplay: true,
            css: 'z-index: 3',
          },
          {
            img: getAsset('slide-08', 'silver-tier.webp'),
            x: 0,
            y: 351,
            width: 1821,
            dataId: 'silver-tier',
            animation: 'fade-up',
            autoplay: true,
            css: 'z-index: 2',
          },
          {
            img: getAsset('slide-08', 'gold-tier.webp'),
            x: 0,
            y: 579,
            width: 1821,
            dataId: 'gold-tier',
            animation: 'fade-up',
            autoplay: true,
            css: 'z-index: 1',
          },
        ]}
      />
    </div>
  </section>

  <!-- Bronze CalFresh Pilot Slide 09 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-09', 'bg_2x.webp').src}
    data-notes='Bronze is our MVP. It proves the tech stack (Modular/Expandable architecture) while delivering immediate value via the CalFresh calculator and EBT maps.'
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-09', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-09', 'title.webp'),
            x: 966,
            y: 111,
            width: 578,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-09', 'ui-01-ebt-widget.webp'),
            x: 171,
            y: 0,
            width: 692,
            dataId: 'ui-01-ebt-widget',
            animation: 'fade-right',
            autoplay: true,
            css: 'max-height: 100%',
          },
          {
            img: getAsset('slide-09', 'slide-point-01.webp'),
            x: 988,
            y: 454,
            width: 720,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-09', 'slide-point-02.webp'),
            x: 988,
            y: 544,
            width: 720,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-09', 'slide-point-03.webp'),
            x: 988,
            y: 634,
            width: 720,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-09', 'slide-point-04.webp'),
            x: 988,
            y: 724,
            width: 720,
            dataId: 'point-04',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- Silver Interactive Guide Slide 10 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-10', 'bg_2x.webp').src}
    data-notes="Silver adds interactivity and accessibility (automated translation). Gold moves into 'Direct Action,' using wizards and notifications to ensure users never miss a deadline or a benefit."
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-10', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-10', 'title.webp'),
            x: 1065,
            y: 111,
            width: 698,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-10', 'ui-01-ebt-clist.webp'),
            x: 0,
            y: 0,
            width: 678,
            dataId: 'ui-01-ebt-clist',
            animation: 'fade-up',
            autoplay: true,
            css: 'z-index: 2; max-height: 100%',
          },
          {
            img: getAsset('slide-10', 'ui-02-housing-clist.webp'),
            x: 413,
            y: 0,
            width: 667,
            dataId: 'ui-02-housing-clist',
            animation: 'fade-right',
            autoplay: true,
            css: 'z-index: 1; max-height: 100%',
          },
          {
            img: getAsset('slide-10', 'slide-point-01.webp'),
            x: 1104,
            y: 457,
            width: 720,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-10', 'slide-point-02.webp'),
            x: 1104,
            y: 547,
            width: 720,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-10', 'slide-point-03.webp'),
            x: 1104,
            y: 637,
            width: 720,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-10', 'slide-point-04.webp'),
            x: 1104,
            y: 730,
            width: 720,
            dataId: 'point-04',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- Gold Systemic Change Slide 11 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-11', 'bg_2x.webp').src}
    data-notes="Gold (Advocacy Ecosystem) Project Development Stage focuses on Systemic Change & Bureaucratic Reduction.

    Primary Features:
SNAP/CalFresh Signup Wizard: High-utility logic engine to guide users through the full application process.
Direct Action Notifications: Push alerts for recertification deadlines and emergency food pop-ups.
Advanced AI Reasoning: Context-aware discovery (e.g., 'Where can I go now with my family?').
Rich Data collection: Curated usage data is visualized and exportable for grant proposals (Dashboard Visuals)
"
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-11', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-11', 'title.webp'),
            x: 1117,
            y: 111,
            width: 717,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-11', 'ui-01-dash-laptop.webp'),
            x: 0,
            y: 64,
            width: 1532,
            dataId: 'ui-01-dash-laptop',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-11', 'slide-point-01.webp'),
            x: 1159,
            y: 454,
            width: 720,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-11', 'slide-point-02.webp'),
            x: 1159,
            y: 544,
            width: 720,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-11', 'slide-point-03.webp'),
            x: 1159,
            y: 634,
            width: 720,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-11', 'slide-point-04.webp'),
            x: 1159,
            y: 724,
            width: 720,
            dataId: 'point-04',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- The Roadmap Slide 12 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-12', 'bg_2x.webp').src}
    data-notes='Map of Development Process. Our process is built on transparency. We use open-source development so stakeholders can see progress in real-time through installable Alpha builds.'
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-12', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-12', 'title.webp'),
            x: 98,
            y: 81,
            width: 540,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-12', 'timeline-bg.webp'),
            x: 0,
            y: 285,
            width: 1920,
            dataId: 'timeline-bg',
            animation: 'fade-up',
            autoplay: true,
            css: 'max-width: 100%',
          },
          {
            img: getAsset('slide-12', 'milestone-01.webp'),
            x: 150,
            y: 629,
            width: 336,
            dataId: 'milestone-01',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-12', 'milestone-02.webp'),
            x: 392,
            y: 327,
            width: 336,
            dataId: 'milestone-02',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-12', 'milestone-03.webp'),
            x: 787,
            y: 629,
            width: 377,
            dataId: 'milestone-03',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-12', 'milestone-04.webp'),
            x: 1249,
            y: 327,
            width: 399,
            dataId: 'milestone-04',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-12', 'milestone-05.webp'),
            x: 1429,
            y: 629,
            width: 336,
            dataId: 'milestone-05',
            animation: 'fade-right',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- The Privacy First Mandate Slide 13 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-13', 'bg_2x.webp').src}
    data-notes="Crucial for this demographic: vulnerable community members need to know they aren't being tracked by the government. Privacy is our primary security feature."
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-13', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-13', 'title.webp'),
            x: 98,
            y: 81,
            width: 829,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-13', 'slide-points-bg.webp'),
            x: 0,
            y: 283,
            width: 1920,
            dataId: 'slide-points-bg',
            animation: 'fade-up',
            autoplay: true,
            css: 'max-width: 100%',
          },
          {
            img: getAsset('slide-13', 'slide-point-01.webp'),
            x: 75,
            y: 360,
            width: 535,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-13', 'slide-point-02.webp'),
            x: 715,
            y: 360,
            width: 535,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-13', 'slide-point-03.webp'),
            x: 1355,
            y: 360,
            width: 535,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- OpenSource Community Slide 14 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-14', 'bg_2x.webp').src}
    data-notes="This is the 'De-Risking' slide. 

Funders fear 'Zombie Apps.' We address this with a plan for full-time staff and a community-driven open-source model to keep the app alive.

By focusing on Open Source and Staged Governance, you are telling them their  investment in a permanent community utility, not just a temporary fix."
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-14', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-14', 'title.webp'),
            x: 100,
            y: 190,
            width: 541,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-14', 'avatar-rings.webp'),
            x: 1005,
            y: 72,
            width: 850,
            dataId: 'avatar-rings',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-14', 'avatars.webp'),
            x: 998,
            y: 48,
            width: 864,
            dataId: 'avatars',
            animation: 'fade-left',
            autoplay: true,
          },
          {
            img: getAsset('slide-14', 'caption.webp'),
            x: 110,
            y: 461,
            width: 303,
            dataId: 'caption',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-14', 'slide-point-01.webp'),
            x: 100,
            y: 512,
            width: 847,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-14', 'slide-point-02.webp'),
            x: 100,
            y: 602,
            width: 847,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-14', 'slide-point-03.webp'),
            x: 100,
            y: 692,
            width: 847,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- Final Ask Slide 15 -->
  <section
    data-background-opacity='.1'
    data-background-image={getAsset('slide-15', 'bg_2x.webp').src}
    data-notes='The final call to action. Summarize the transition from legacy to mobile and ask for the specific support needed to kick off the Bronze phase.

Be firm on the numbers. Explain that the gradual increase in funding reflects the growing technical complexity of each tier—from a static vertical slice to a full AI-driven system. Mention that we are looking for grants to cover the heavier T3 costs.'
  >
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={false}
        gridClass='s12 m12'
        bgImg={getAsset('slide-15', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-15', 'title.webp'),
            x: 753,
            y: 66,
            width: 1121,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-15', 'cta.webp'),
            x: 714,
            y: 370,
            width: 1205,
            dataId: 'cta',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-15', 'slide-point-01.webp'),
            x: 799,
            y: 584,
            width: 347,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-15', 'slide-point-02.webp'),
            x: 1146,
            y: 584,
            width: 397,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-15', 'slide-point-03.webp'),
            x: 1543,
            y: 584,
            width: 290,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-15', 'ui-01-dash-tablet.webp'),
            x: 0,
            y: 0,
            width: 889,
            dataId: 'ui-01-dash-tablet',
            animation: 'fade-up',
            autoplay: true,
            css: 'max-height: 100%',
          },
          {
            img: getAsset('slide-15', 'body.webp'),
            x: 789,
            y: 835,
            width: 1045,
            dataId: 'body',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

  <!-- Thank You Slide 16 -->
  <section>
    <h1>Thank You!</h1>
    <h2 style='text-transform: none'>
      Inquiries? Contact: <a
        href='mailto:info@peoplesapp.org?subject=Pitch%20Deck'
        >info@peoplesapp.org</a
      >
    </h2>
  </section>
</SlideLayout>

<style>
  :global(.slides > section) {
    margin-block-start: 0px !important; /* Override Beer CSS top margin on nested sections */
  }
  :global(div.slide-background-content) {
    filter: blur(14px);
  }
</style>
