---
import SlideLayout from '../layouts/SlideLayout.astro';
import MobileUI from '../components/MobileUI.astro';
import FigmaSlideCell from '../components/figmaSlideCell.astro';
import { Image, getImage } from 'astro:assets';

import pplsGuideImg from '../assets/images/peoples_guide_page.webp';

// This generates a guaranteed URL that works on remote servers
const optimizedBackground = await getImage({ src: pplsGuideImg });

// Grab every image inside the slides folder eagerly
const allImages = import.meta.glob(
  '/src/assets/slides/**/*.{png,webp,jpg,jpeg}',
  { eager: true },
);

// Helper function to find a specific asset by slide folder and filename
/**
 * Import Slide Assets from folder using Slide Directory & Filename.ext
 */
const getAsset = (slideDir: string, fileName: string) => {
  const path = `/src/assets/slides/${slideDir}/${fileName}`;
  const module: any = allImages[path];
  if (!module) throw new Error(`Asset not found: ${path}`);
  return module.default; // This returns the full Astro Image Metadata object
};
---

<SlideLayout>
<section
  data-background-opacity="0"
  data-background-image={getAsset('slide-00', 'bg_2x.webp').src}
>
  <h1>Welcome!</h1>
</section>
  <!-- Title Slide 00 -->
<section 
  data-background-opacity=".1"
  data-background-image={getAsset('slide-00', 'bg_2x.webp').src}
>
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={true}
        gridClass='s12 m12'
        bgImg={getAsset('slide-00', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-00', 'caption.webp'),
            x: 75,
            y: 477,
            width: 308,
            dataId: 'caption',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-00', 'subhead.webp'),
            x: 75,
            y: 563,
            width: 384,
            dataId: 'subhead',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-00', 'hero-obj-01.webp'),
            x: 567,
            y: 156,
            width: 630,
            dataId: 'hero',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

<!-- TOC Slide 01 -->
<section 
  data-background-opacity=".1"
  data-background-image={getAsset('slide-01', 'bg_2x.webp').src}
>
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={true}
        gridClass='s12 m12'
        bgImg={getAsset('slide-01', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-01', 'title.webp'),
            x: 40,
            y: 879,
            width: 1213,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'image.webp'),
            x: 1019,
            y: 126,
            width: 793,
            dataId: 'image',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'slide-section-01.webp'),
            x: 83,
            y: 261,
            width: 900,
            dataId: 'section-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'slide-section-02.webp'),
            x: 83,
            y: 354,
            width: 900,
            dataId: 'section-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'slide-section-03.webp'),
            x: 83,
            y: 447,
            width: 900,
            dataId: 'section-03',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'slide-section-04.webp'),
            x: 83,
            y: 540,
            width: 900,
            dataId: 'section-04',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-01', 'slide-section-05.webp'),
            x: 83,
            y: 633,
            width: 900,
            dataId: 'section-05',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

<!-- Legacy Guide Slide 02 -->
<section 
  data-background-opacity=".1"
  data-background-image={getAsset('slide-02', 'bg_2x.webp').src}
>
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={true}
        gridClass='s12 m12'
        bgImg={getAsset('slide-02', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-02', 'title.webp'),
            x: 57,
            y: 61,
            width: 912,
            dataId: 'guide',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-02', 'slide-point-01.webp'),
            x: 1263,
            y: 459,
            width: 617,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-02', 'slide-point-02.webp'),
            x: 1263,
            y: 656,
            width: 617,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-02', 'retro-guide.webp'),
            x: 620,
            y: 286,
            width: 620,
            dataId: 'guide',
            animation: 'fade-right',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

<!-- HR1 Slide 03 -->
<section 
  data-background-opacity=".1"
  data-background-image={getAsset('slide-03', 'bg_2x.webp').src}
>
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={true}
        gridClass='s12 m12'
        bgImg={getAsset('slide-03', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-03', 'title.webp'),
            x: 515,
            y: 138,
            width: 891,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'body.webp'),
            x: 142,
            y: 513,
            width: 528,
            dataId: 'body',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'caption.webp'),
            x: 727,
            y: 457,
            width: 206,
            dataId: 'caption',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'slide-point-01.webp'),
            x: 727,
            y: 513,
            width: 1000,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'slide-point-02.webp'),
            x: 727,
            y: 603,
            width: 1000,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'slide-point-03.webp'),
            x: 727,
            y: 693,
            width: 1000,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'slide-point-04.webp'),
            x: 727,
            y: 828,
            width: 1000,
            dataId: 'point-04',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>
  </section>

<!-- PDF Ceiling Slide 04 -->
<section 
  data-background-opacity=".1"
  data-background-image={getAsset('slide-04', 'bg_2x.webp').src}
>
    <div class='grid no-space'>
      <FigmaSlideCell
        preloadBackground={true}
        gridClass='s12 m12'
        bgImg={getAsset('slide-04', 'bg_2x.webp')}
        objects={[
          {
            img: getAsset('slide-04', 'title.webp'),
            x: 154,
            y: 190,
            width: 595,
            dataId: 'title',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-04', 'caption.webp'),
            x: 154,
            y: 460,
            width: 159,
            dataId: 'caption',
            animation: 'fade-right',
            autoplay: true,
          },
          {
            img: getAsset('slide-04', 'slide-point-01.webp'),
            x: 154,
            y: 512,
            width: 746,
            dataId: 'point-01',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-04', 'slide-point-02.webp'),
            x: 154,
            y: 646,
            width: 746,
            dataId: 'point-02',
            animation: 'fade-up',
            autoplay: true,
          },
          {
            img: getAsset('slide-03', 'slide-point-03.webp'),
            x: 154,
            y: 781,
            width: 746,
            dataId: 'point-03',
            animation: 'fade-up',
            autoplay: true,
          },
        ]}
      />
    </div>

  </section>
  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-01', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-02', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-03', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-04', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-05', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-06', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-07', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-08', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-09', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-10', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-11', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide Desc -->
  <section
    data-background-size='cover'
    data-background-opacity='.1'
    data-background-image={optimizedBackground.src}
  >
    <Image src={getAsset('slide-12', 'datatable.png')} alt='Data Table' />
  </section>

  <!-- Slide 2: Material 3 Component Example -->
  <section
    data-transition='zoom'
    data-background-opacity='.8'
    data-background-image={optimizedBackground.src}
  >
    <h3>Mobile UI with Background Img</h3>

    <!-- This container activates the Beer CSS styles -->
    <MobileUI>
      <header class='primary'>
        <nav>
          <button class='circle transparent'>
            <i>menu</i>
          </button>
          <h5 class='max'>My App</h5>
        </nav>
      </header>

      <main class='responsive'>
        <button class='chip'>
          <i>home</i>
          <span>Lorem</span>
        </button>
        <button class='chip'>
          <i>home</i>
          <span>Ipsum</span>
        </button>
        <button class='chip square'>
          <i>home</i>
          <span>Dolor</span>
        </button>

        <div class='space'></div>
        <article class='medium-elevate'>
          <div>
            <p class='small-text'>
              We can show a mock of the People's App UI with M3 elements (Figma
              Material 3 Design Kit Friendly)
            </p>
          </div>
        </article>

        <article class='medium-elevate'>
          <button class='circle'>
            <i>home</i>
            <div class='badge'>10</div>
          </button>

          <a class='chip circle'>
            <i>home</i>
            <div class='badge'>10</div>
          </a>
          <progress class='circle' value='25' max='100'></progress>
        </article>

        <ul class='list'>
          <li>
            <button class='circle'>A</button>
            <div class='max'>
              <h6 class='small' style='color: var(--primary)'>Headline</h6>
              <p class='medium-text'>Supporting text</p>
            </div>
            <label>+15 min</label>
          </li>
        </ul>

        <div class='slider medium'>
          <input type='range' />
          <span>
            <i>sunny</i>
          </span>
        </div>

        <div class='space'></div>
        <article>
          <nav>
            <label class='radio'>
              <input type='radio' />
              <span>Item 1</span>
            </label>
            <label class='radio'>
              <input type='radio' />
              <span>Item 2</span>
            </label>
            <label class='radio'>
              <input type='radio' />
              <span>Item 3</span>
            </label>
          </nav>
          <nav>
            <div class='max'>
              <h6>Title</h6>
            </div>
            <label class='switch'>
              <input type='checkbox' />
              <span></span>
            </label>
          </nav>
        </article>

        <div class='space'></div>
      </main>

      <nav class='bottom'>
        <button><i>home</i><span>Home</span></button>
        <button><i>search</i><span>Search</span></button>
      </nav>
    </MobileUI>
  </section>

  <!-- Slide 3: Code Highlight Example -->
  <section>
    <h3>Stepped Text Walkthrough</h3>
    <pre><code data-trim class="language-markdown" data-line-numbers="1-2|3-5|8-10|12-14|16">
---
id: "calfresh-how-to"
title: "How Do I Get CalFresh?"
page: 37
section: "CalFresh"
---

# How Do I Get CalFresh?

You can apply for CalFresh in person, by phone, or online. 

### Quick Steps:
1. **Call DPSS:** (866) 613-3777
2. **Apply Online:** [BenefitsCal.com](https://benefitscal.com)

> **Pro-Tip:** State workers suggest having your ID and Rent Receipt ready before you call to cut through the red tape.
</code></pre>
  </section>
</SlideLayout>

<style>
  :global(.slides > section) {
    margin-block-start: 0px !important; /* Override Beer CSS top margin on nested sections */
  }
  :global(div.slide-background-content) {
    filter: blur(14px);
  }
</style>
